[submodule "libraries/Round-Anything"]
	path = libraries/Round-Anything
	url = git@github.com:Irev-Dev/Round-Anything.git
[submodule "libraries/dotSCAD"]
	path = libraries/dotSCAD
	url = git@github.com:JustinSDK/dotSCAD.git
